@media(min-width: 768px) and (max-width: 1200px) {
    .help {
        &__wrapper {
            max-width: 630px;
            gap: 55px 60px;
        }
        &__type {
            &:nth-child(n) {
                width: 170px;
            }
        }
    }
}
