@media(min-width: 768px) and (max-width: 1200px) {
    .pets {
        padding: 80px 30px 100px;
        &__slider {
            margin: 0 65px;
            max-width: 580px;
            margin: 0 auto;
        }
        &__slide {
            gap: 40px;
        }
    }
}

@media(min-width: 320px) and (max-width: 767px) {
    .pets {
        padding: 42px 10px;
        gap: 42px;
        &__title {
            font-size: 25px;
            line-height: 32.5px;
        }
        &__btn-slider-left {
            left: 20%;
        }
        &__btn-slider-right {
            right: 20%;
        }
        &__btn {
            margin-top: 72px;
        }
        &__slider {
            margin: 0 15px;
            max-width: 270px;
            margin: 0 auto;
        }
    }
}
