.header {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    color: #FAFAFA;
    font-family: Arial;
    font-weight: 400;
    font-size: 15px;
    margin: 60px auto;
    padding: 0px 40px;
    overflow: hidden;
    &__logo {
        color: #FFFFFF;
        font-family: Arial;
        font-weight: 400;
        font-size: 13px;
        text-align: center;
        letter-spacing: 0.1em;
        text-decoration-line: none;
    }
    &__title {
        color: #F1CDB3;
        font-family: Georgia;
        font-weight: 400;
        font-size: 33px;
        margin-bottom: 10px;
    }
    &__burger {
        display: none;
    }
    &__navigation{
        display: flex;
        list-style-type: none;
        gap: 35px;
    }
    &__link {
        cursor: pointer;
        padding-bottom:2px;
        color: #CDCDCD;
        text-decoration-line: none;
        transition: 0.4s;
        &:hover {
            color: #FAFAFA;
            transition: 0.4s;
        }
        &_active {
            border-bottom: 3px solid #F1CDB3;
            color: #FAFAFA;
        }
    }
    &__shadow {
        position: fixed;
        height: 100vh;
        top: 0%;
        width: 0%;
        left: -60%;
        transition: all 1s;
        &_active {
            width: 60%;
            background-color: rgba(0, 0, 0, 0.3);
            left: 0;
        }
    }
}
