.about-page {
    background-color: #FFFFFF;
    align-items: center;
    justify-content: center;
    gap: 10%;
    // padding: 5% 2.5%;
    padding: 80px 40px 100px;
    &_information {
        max-width: 430px;
        display: flex;
        flex-direction: column;
        gap: 25px;
        .title {
            color: #545454;
            font-family: 'Georgia';
            font-style: normal;
            font-weight: 400;
            font-size: 35px;
            line-height: 45.5px;
            letter-spacing: 2px;
        }
        &_text {
            color: #4C4C4C;
            font-family: 'Arial';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 24px;
        }
    }
}