

.main-page {
    gap: 42px;
    padding: 0px 40px;

    &_information {
        max-width: 460px;
        display: flex;
        flex-direction: column;
        gap: 42px;
        padding-top: 13.5%;
        .title{
            font-family: 'Georgia';
            font-weight: 400;
            color:#FFFFFF;
            font-size: 44px;
            line-height: 57.2px;
        }
        &_text {
            font-family: 'Arial';
            font-size: 15px;
            line-height: 24px;
            color: #CDCDCD;
        }
        .btn {
            width: 45%;
            background-color: #F1CDB3;
            font-family: 'Georgia';
            font-size: 17px;
            letter-spacing: 1px;
            color: #292929;
            text-decoration: none;
            padding: 17px 0;
            border-radius: 25px;
            text-align: center;
            transition: all 0.4s;
            &:hover {
                background-color: #FDDCC4;
            }
        }
    }
    &_img {
        display: block;
    }
}
