.pets-page {
    background-color: #F6F6F6;
    padding: 80px 40px 100px;
    flex-direction: column;
    gap: 60px;
    .title {
        text-align: center;
        margin: 0 auto;
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        letter-spacing: 0.06em;
        line-height: 45.5px;
    }
    .btn {
        max-width: 261px;
        width: 45%;
        background-color: #F1CDB3;
        font-family: 'Georgia';
        font-size: 17px;
        letter-spacing: 1px;
        color: #292929;
        text-decoration: none;
        padding: 17px 0;
        border-radius: 25px;
        text-align: center;
        margin: 0 auto;
    }
    .wrapper-slider {
        position: relative;
        .btn-arrow {
            position: absolute;
            top: 44%;
            padding: 17px;
            border-radius: 100%;
            background-color: transparent;
            border: 1px solid #F1CDB3;
        }
        .right {
            right: 0;
        }
        .slider {
            max-width: 990px;
            display: flex;
            margin: 0 auto;
            overflow: hidden;
            position: relative;
            left: 0;
            
            .wrapper-cards {
                position: relative;
                gap: 90px;
                display: flex;
                animation: backslider 1s linear;
                display: none;
                left: -100%;
                &.active {
                    left: 0;
                    transition: transform 1s;
                    animation: slider 1s linear;
                    display: flex;
                }
                .card {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 30px;
                    background-color: #FAFAFA;
                    padding-bottom: 30px;
                    .title-pet {
                        font-family: 'Georgia';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 20px;
                        color: #545454;
                        letter-spacing: 0.06em;
                    }
                    .btn-pet {
                        padding: 15px 45px;
                        border-radius: 25px;
                        font-family: 'Georgia';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 17px;
                        letter-spacing: 0.06em;
                        background-color: transparent;
                        border: 1px solid #F1CDB3;
                        cursor: pointer;
                    }
                }
            }

        }
    }
}

@keyframes slider {
    to {
        transform: translateX(0);
        left: 0;
        
    }
    from {
        transform: translateX(-990px);

        left: -100%;
    }
}

@keyframes backslider {
    to {
        transform: translateX(0);
        left: 0;

    }
    from {
        transform: translateX(-990px);
        left: -100%;

    }
}