
@import './styles/header.scss';
@import './styles/main-page.scss';
@import './styles/about-page.scss';
@import './styles/pets-page.scss';
@import './styles/help-page.scss';
@import './styles/donat-page.scss';
@import './styles/footer.scss';

* {
    margin: 0;
    box-sizing: border-box;
}

 body {
    background: url(assets/img/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
 }

 .container {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
}
