
@import './styles/header.scss';
@import './styles/main-page.scss';

* {
    margin: 0;
}

 body {
    background: url(assets/img/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
 }

 .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 42px;
}
